<!-- c'est ca on appelle un template -->
<!-- Pour Afficher les donnees on a deux methodes: 
 le string interpolation: {{}} et le attribute binding -->

<div class="face-snap-container" > 
    <div class="face-snap-card" [ngClass]="{'snapped': hasLiked}"> <!--Si l'user a liker j'active la classe snapped qui donne un fond vert a mes components-->
        <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
        <h2>{{faceSnap.title}}</h2>
        <p>{{ faceSnap.description }}</p>
        <p>Mise en ligne le {{ faceSnap.createdAt }}</p>
        <!-- // controle flow block -->
        @if(faceSnap.location) {
            <p>Location: {{ faceSnap.location }}</p>
        }@else {
            <p> Localisation non spécifiée </p>
        }
        <p>
            <button (click)="onAddLikesOnce()" > {{ likesButtonText }} </button>
            <span [ngStyle]="{'color': 'rgb(0,'+  faceSnap.likes  +', 0)'}">❤️ {{faceSnap.likes}}</span>
        </p>
    
    </div>
</div>